
button {
  margin-bottom: 16px;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.my-nz {
  padding: 0 10% 0 10%;
  margin: 2% 0% 2% 0%;

}
@media (max-width: 450px) {
  .my-nz {
    padding: 2% 2% 0 2%;
    margin: 0 0 0 0;
  }
}
h1{
  color: white;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

